<div class="container">
  <div class="row center-xs">
    <div class="col-xs-10">
      <div class="box">
        <mat-card>
          <div class="row center-xs">
            <h3>
              Analiza un artículo con un solo click
            </h3>
          </div>
          <div class="row center-xs help-text">
            Te ayudamos a encontrar información relevante de tus artículos,<br />
            simplemente copa y pega la URL del artículo que deseas analizar
          </div>

          <mat-card-content>
            <form>
              <div class="row center-xs">
                <mat-form-field class="col-xs-8">
                  <mat-label>Pega aquí la URL del sitio web</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Ej: https://techcrunch.com/2019/12/22/who-will-the-winners-be-in-the-future-of-fintech/"
                  />
                </mat-form-field>
              </div>
              <button mat-flat-button class="button-search" color="primary">Buscar</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
