<mat-toolbar>
    <mat-toolbar-row>
        <nav>
            <a routerLink="/home" class="logo"><app-logo></app-logo></a>
            <a mat-button routerLink="/popular" routerLinkActive="active">Popular</a>
            <a mat-button routerLink="/analizar" routerLinkActive="active">Analizar</a>
        </nav>
        <div>
            <button mat-button routerLink="/auth" routerLinkActive="active" color="primary" class="button-login">
                Ingresar
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
