nav > a {
    margin: 15px;
    text-decoration: none;
    color: white;
}
nav > a.active {
    padding-bottom: -10px;
    border-bottom: 4px solid #427AA1;
}

.button-login {
    margin: 15px;
    color: black;
}

div > .mat-button {
    background-color: #B0E100;
}

.mat-toolbar-row {
    background-color: #064789;
}

