<!-- <app-article-search></app-article-search> -->

<div class="container">
  <div class="row center-xs" *ngIf="isLoading">
    <app-progress-spinner></app-progress-spinner>
  </div>
  <div class="row center-xs" *ngIf="!isLoading">
    <div class="col-xs-10">
      <div class="box">
        <mat-card>
          <div class="row center-xs">
            <h3 *ngIf="!anaylisis">
              Analizar artículo
            </h3>
            <h3 *ngIf="anaylisis">Analizar artículo</h3>
          </div>
          <div class="row center-xs help-text" *ngIf="!anaylisis">
            Te ayudamos a encontrar información relevante de tus artículos,<br />
            simplemente copia y pega la URL del artículo que deseas analizar
          </div>

          <mat-card-content>
            <form>
              <div class="row center-xs">
                <mat-form-field class="col-xs-8">
                  <mat-label>Pega aquí la URL del sitio web</mat-label>
                  <input
                    type="text"
                    name="url"
                    matInput
                    [(ngModel)]="url"
                    placeholder="Ej: https://techcrunch.com/2019/12/22/who-will-the-winners-be-in-the-future-of-fintech/"
                  />
                </mat-form-field>
              </div>
              <button
                type="button"
                mat-flat-button
                class="button-search"
                color="primary"
                (click)="fetchAnalysis()"
                [disabled]="url === null"
              >
                Buscar
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="row center-xs" *ngIf="analysisError">
  <app-article-error></app-article-error>
</div>

<div class="container">
  <div class="row center-xs" *ngIf="anaylisis">
    <div class="col-xs-12">
      <div class="box">
        <app-article-title [title]="title"></app-article-title>
      </div>
    </div>

    <div class="section col-xs-10">
      <div class="box">
        <app-article-sentiment
          [sentimentValue]="sentiment"
          [polarityDescription]="sentimentDescription"
        ></app-article-sentiment>
      </div>
    </div>

    <div class="section col-xs-10">
      <div class="box">
        <app-article-summary [summary]="summary"></app-article-summary>
      </div>

      <app-article-concept [concepts]="anaylisis.concepts">

      </app-article-concept>
      <app-article-classification
          [categories]="categories"
        ></app-article-classification>
    </div>

    
  </div>
</div>
